li{
    border: 2px solid #f3f4f6;
    margin-right: 2rem;
    font-size: larger;
}

li:hover {
    
    background-color: cadetblue;
    color: rgb(251, 251, 251);
    border-radius: 0.25rem; 
  }

  @media screen and (max-width: 960px){
    li{
        border: #7c91ba;
    }
  }